# Database
CONNECTION_STRING=Host=db;Port=5432;Database=peleja;Username=prod_user;Password=<STRONG_PASSWORD>

# NAuth
NAUTH_API_URL=http://nauth-api:80

# Tenant: emagine
EMAGINE_JWT_SECRET=<EMAGINE_JWT_SECRET_AT_LEAST_64_CHARS>
EMAGINE_BUCKET_NAME=Peleja

# Tenant: peleja
PELEJA_JWT_SECRET=<PELEJA_JWT_SECRET_AT_LEAST_64_CHARS>
PELEJA_BUCKET_NAME=Peleja

# Giphy
GIPHY_API_KEY=<PRODUCTION_GIPHY_API_KEY>
