# Database
POSTGRES_USER=postgres
POSTGRES_PASSWORD=your_password_here
POSTGRES_DB=peleja
CONNECTION_STRING=Host=db;Port=5432;Database=peleja;Username=postgres;Password=your_password_here

# Giphy
GIPHY_API_KEY=your_giphy_api_key_here

# App
APP_PORT=5000
